/*=========================================
  Variables
=========================================== */
$c-black-blue: #123;
$c-dark-blue: #09095a;
$c-light-blue: #2a4285;
$c-blue: #346;
$c-light: #f7f9fb;
$c-black: #111;
$c-gray: #d5d9e2;
$c-dark-gray: #333;
$c-green: #077;
$c-purple: #62b;
$c-red: #c23;
$c-white: #fff;

$c-facebook: #3b5998;
$c-twitter: #1da1f3;
$c-instagram: #D62976;
$c-youtube: #ff0000;
$c-linkedin: #1683bb;
$c-dibbble: #ea4c89;
$c-github: #60b044;
$c-email: #dd4b39;
